@using System.Text.Json;
@model SharedModels.Question.QuestionRunTransferModel
@{
    ViewData["Title"] = "Question Page";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/Question/Solve.css">
}

<div id="questionTitle">
    <h1>@Model.Question.Title</h1>
</div>

@if (Model.Question.ImageName != null)
{
    <div id="questionImage" class="text-center mt-5">
        <img src="~/img/@Model.Question.ImageName" alt="Question Image" />
    </div>
}





<div>
        @foreach (var (idx, option) in Model.Question.AnswerOptions.WithIndex())
        {
            <div class="answer-option @((idx == Model.Question.CorrectAnswerIndex) ? "correct" : (idx == Model.answers[Model.currentQuestionIndex]) ? "selected" : "")">
                @option
            </div>
        }
</div>

<form asp-controller="Question" asp-action="Review" method="post">
    <input type="hidden" name="roomId" value="@ViewBag.RoomId" />
    <input type="hidden" name="currentQuestionIndex" value="@Model.currentQuestionIndex" />
    <input type="hidden" name="correctAnswersCount" value="@Model.correctAnswersCount" />
    <input type="hidden" name="questionsIdJson" value='@JsonSerializer.Serialize(Model.questionsId)' />
    <input type="hidden" name="answersJson" value='@JsonSerializer.Serialize(Model.answers)' />

    <button type="submit" class="btn btn-primary">Next</button>
</form>
