@model MVC.Models.SolveViewModel
@{
    ViewData["Title"] = "Question Page";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/Question/Solve.css">
}

@section Scripts {
    <script src="~/js/Question/Solve.js"></script>
}
<a asp-controller="Lobby" asp-action="Room" asp-route-id="@ViewBag.RoomId" class=" btn btn-secondary">Return</a>
<div id="questionTitle">
    <h1>@Model.Question.Title</h1>
</div>

    @if (Model.Question.ImageName != null)
    {
        <div id="questionImage" class="text-center mt-5">
            <img src="~/img/@Model.Question.ImageName" alt="Question Image" class="img-fluid" />
        </div>
    }

<div id="form">
    @using (Html.BeginForm("Solve", "Question", FormMethod.Post))
    {
        <input type="hidden" name="questionId" value="@Model.QuestionId" />
        
        @foreach (var (idx, option) in Model.Question.AnswerOptions.WithIndex())
        {
            <label class="option">
                <input type="radio" name="selectedOption" value="@idx" />
                <span class="option-text">@option</span>
            </label>
        }

        <button type="submit" id="submitButton">Submit</button>
        <div id="answerMessage"></div>
    }
</div>
