<h2>Room <strong>"@ViewBag.RoomName"</strong></h2>
<h3>@ViewBag.ErrorMessage</h3>
<div>Questions: @ViewBag.QuestionAmount</div>
<div>
    <a asp-controller="Question" asp-action="StartRun" asp-route-roomId="@ViewBag.RoomId" asp-route-questionAmount="1" class="btn btn-primary">Solve random Question</a>
    <a asp-controller="Question" asp-action="StartRun" asp-route-roomId="@ViewBag.RoomId" asp-route-questionAmount="3" class="btn btn-primary">Start a Quiz</a>
    <a asp-controller="Question" asp-action="Create" asp-route-id="@ViewBag.RoomId" class=" btn btn-primary">Create new Question</a>
</div>
